.hero-content{

animation:fadeUp 1.5s ease;

}

@keyframes fadeUp{

from{

opacity:0;

transform:translateY(60px);

}

to{

opacity:1;

transform:translateY(0);

}

}
.hidden{

opacity:0;

transform:translateY(80px);

transition:1s;

}

.show{

opacity:1;

transform:translateY(0);

}

/* Navbar scroll */

header{

transition:.4s;

}

header.scrolled{

background:rgba(20,10,18,.82);

backdrop-filter:blur(30px);

box-shadow:0 10px 30px rgba(0,0,0,.25);

}