@media(max-width:900px){

.nav-links{

display:none;

}

.register-btn{

display:none;

}

.menu-btn{

display:block;

}

.hero-content h1{

font-size:55px;

}

.hero-buttons{

flex-direction:column;

}

}
.nav-links.active{

display:flex;

position:absolute;

top:80px;

left:0;

width:100%;

background:#111;

flex-direction:column;

padding:30px;

text-align:center;

}